**/prog
**/*.o
*.bak
**/out/
**/*.lo
src/learner
src/pdiffer
src/prophet
src/playground
src/profile-matcher
.vscode
**/*.la
benchmarks/*-src
benchmarks/libtiff-deps/jpeg*
benchmarks/lighttpd-deps/libxml2*
benchmarks/lighttpd-deps/sqlite*
benchmarks/lighttpd-deps/pcre*
!benchmarks/lighttpd-deps/pcre-8.36.tar.gz
benchmarks/apache-deps
benchmarks/*-tests*
!benchmarks/gzip-tests
autom4te.cache
*.tar.gz
!benchmarks/lighttpd-deps/pcre-8.36.tar.gz
!benchmarks/php-deps/flex-2.5.4a.tar.gz
benchmarks/php-deps/*
**/CMakeFiles/
**/CMakeCache.txt
/dg/
**/*.log
*~
*.ll
*.bc
__*
**/__*
!**/*.py
**/.libs
**/.deps
build
autom4te.cache