out/
profile/
build.log*
fixed_*
profile_localization.res
prog
repair.log
*-info.json
**/*.o
*.bak
**/*.lo
src/learner
src/pdiffer
src/prophet
src/playground
src/profile-matcher
.vscode
**/*.la
benchmarks/*-src
benchmarks/*-tests*
!benchmarks/gzip-tests
autom4te.cache
*.tar.gz
!benchmarks/lighttpd-deps/pcre-8.36.tar.gz
**/CMakeFiles/
**/CMakeCache.txt
/dg/
**/*.log
*~
*.ll
*.bc
*.cache
__*
**/__*
!**/*.py
**/.libs
**/.deps
build
msv
