subversion
mercurial
bison
rsync
flex
libxml2-dev
wget
python3
python3-pip
python
git
tar
nano
texinfo
make
autotools-dev
automake
cmake
libncurses5-dev
libncurses5
software-properties-common
libtool
libtool-bin
libexplain-dev
libjpeg-dev
zlib1g-dev
zlib1g
gtk+-2.0
libglib2.0-dev
libgtk2.0-dev
libpcap-dev
pkg-config
build-essential
gdb
lcov
libbz2-dev
libffi-dev
libgdbm-dev
libgdbm-compat-dev
liblzma-dev
libreadline6-dev
libsqlite3-dev
libssl-dev
lzma
lzma-dev
tk-dev
uuid-dev
zlib1g-dev
