bison
rsync
flex
wget
python3
python3-pip
python
git
tar
nano
texinfo
make
autotools-dev
automake
cmake
libncurses5-dev
libncurses5
software-properties-common
libtool
libtool-bin
libexplain-dev
zlib1g-dev
zlib1g
gtk+-2.0
libglib2.0-dev
libgtk2.0-dev
libpcap-dev
pkg-config
build-essential
gdb
